<section class="img-site" id="cont">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h1 class="text-center" style="color:rgb(10, 34, 32);"> Contato </h1>

              <p class="lead text-center">
                  <a href="https://www.facebook.com/BarbeariaFamiliaCosta/?eid=ARAFsSTpQBA-iXE5BBh7KocNd-09yL4hErmuMfpseosdrstig1D8KSgAaJfUr3I17hb017N-PiGtcIvc&timeline_context_item_type=intro_card_work&timeline_context_item_source=100014520311814&fref=tag" target="_blank" class="fa fa-facebook"></a>
                  <a href="https://www.instagram.com/ryanbielbarber_oficial/" class="fa fa-instagram" target="_blank"></a>
              </p>
              <h3 class=" text-center" style="color:rgb(10, 34, 32);"> E-mail: </h3>
              <p class="lead text-center" style="color: cornsilk;font-size:small">
                  Desenvolvedor do Site e Sócio da RizzoAbreu, Guilherme Abreu: guilhermeabreucc@gmail.com
              </p>
              <p class="lead text-center" style="color: cornsilk; font-size:small">
                  Confeccionadora e Sócia da RizzoAbreu, Carolina Rizzo: carollowesantos@gmail.com
            </p>
              <h3 class=" text-center" style="color:rgb(10, 34, 32);"> Número: </h3>
              <p class="lead text-center" style="color: cornsilk; font-size:small">
                  (13) 97405-8807
              </p>
          </div>
      </div>
  </div>
</section>