<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/logo.png" style="margin-top:-5px; margin-bottom:-5px" width="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#gan" style="font-weight: 600; color:rgb(10, 34, 32);">Solicitar </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#cont" style="font-weight: 600; color:rgb(10, 34, 32);">Contato</a>
      </li>
    </ul>
  </div>
</div>
</nav>

