.back {
    background-image: url(../../assets/img/capa.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    background-attachment: fixed;
    padding-top: 350px;
    padding-bottom: 300px;
    padding-right:0%;
    width:100%;
}
h1{
    float: left;
    margin-top: -270px;
    position: absolute;
    font-family: Freehand521 BT;
}