<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

<header>
  <ul>
    <i class='fa fa-shopping-cart' style="font-size: 110%;">
      Por Apenas R$ 4,00 cada
      <span class='counter'></span>
    </i>
  </ul>
</header>

<section class="content-site" id="gan">
  <div class="container" >
      <div class='row' style="margin-top:-40%;">
        <div class='product--blue'>
          <div class='product_inner'>
            <!-- <img src="../../assets/img/chocolate-derretido.png">   -->
            <img src='../../assets/img/palhaChocolate.png' style="margin-top:100px" width='300'>
            <i style="font-size: x-small;">imagem ilustrativa</i>
            <h3 style="color:rgb(169, 89, 66);">Chocolate</h3>
            <br>
            <label>Quantidade</label>
            <input [(ngModel)]="quantidadepalhaChocolate" type="number" class="quantidade" min="0"/>
          </div>
        </div>
        <div class='product--orange'>
          <div class='product_inner'>
            <img src='../../assets/img/palhaBranca.png' style="margin-top:170px;margin-bottom: 72px;" width='250'>
            <i style="font-size: x-small;">imagem ilustrativa</i>
            <h3 style="color:rgb(241, 208, 103);">Ninho</h3>
            <br>
            <label>Quantidade</label>
            <input [(ngModel)]="quantidadepalhaNinho" type="number" class="quantidade" min="0"/>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='product--red'>
          <div class='product_inner'>
            <img src='../../assets/img/palhaNegresco.png' style="margin-top:170px;margin-bottom: 26px;" width='250'>
            <i style="font-size: x-small;">imagem ilustrativa</i>
            <h3 style="color:rgb(37, 6, 3);">Negresco</h3>
            <br>
            <label>Quantidade</label>
            <input [(ngModel)]="quantidadepalhaNegresco" type="number" class="quantidade" min="0"/>
          </div>
        </div>
        <div class='product--green'>
          <div class='product_inner'>
            <img src='../../assets/img/palhaMorango.png' style="margin-top:130px;margin-bottom: 26px;" width='250'>
            <i style="font-size: x-small;">imagem ilustrativa</i>
            <h3 style="color:rgb(240, 77, 124);">Morango</h3>
            <br>
            <label>Quantidade</label>
            <input [(ngModel)]="quantidadepalhaMorango" type="number" class="quantidade" min="0"/>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class='product--yellow'>
          <ul>
            <i class='fa fa-shopping-cart' style="font-size: 110%;">
              Por Apenas R$ 6,00 cada pote
              <span class='counter'></span>
            </i>
          </ul>
          <div class='product_inner'>
            <img src='../../assets/img/potePalhas.png'>
            <i style="font-size: x-small;">imagem ilustrativa</i>
            <h3 style="color:rgb(6, 61, 58)">Pote de 500ml Sortidos</h3>
            <br>
            <label>Quantidade</label>
            <input [(ngModel)]="quantidadePote" type="number" class="quantidade" min="0"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class='product--yellow'>
          <div class='product_inner'>
            <img src='../../assets/img/conjunto-palhas.png'>
            <br>
            <h4 style="color:rgb(6, 61, 58);">Total</h4>
            <h5 style="color:rgb(6, 61, 58);"><i>Calcule o Preço e peça
               via Whatsapp <i class="fa fa-whatsapp" ></i></i></h5>
               <div class="col-md-3">
                <button (click)="calcular()" style="background-color:rgb(6, 61, 58); width: 130px;">Calcular</button>
                <label>Total: R$ {{resultado}}</label>     
               </div>
            
            <br>
            <a style="text-decoration:none;" class="whatsapp-link" (click)="openModal(template)">
              <i class="fa fa-whatsapp" ></i> Solicitar 
            </a>
          </div>
        </div>
      </div>
  </div>
</section>
<ng-template #template>
  <div class="container" style="padding: 10px;">
    <div class="modal-header">
      <h4 style="color:rgb(21, 95, 91);" class="modal-title pull-left">Confirme Seu Endereço abaixo</h4>
      <button type="button" class="close pull-right" 
      aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
    <label style="color:rgb(21, 95, 91);"><i>Endereço:</i> </label>
    <input type="text" [(ngModel)]="endereco" style="width: 100%; font-size: small; font-weight: 200;">
    </div>
</div>
</div>
<div class="container" style="padding: 10px;">
<div class="modal-footer btn-group d-flex">
  Confirmar <i style="margin-left: 5px;margin-right: 10px;" class="fa fa-arrow-right" aria-hidden="true"></i>
  <a style="text-decoration:none; border-radius: 100%;width: 50px;
  height: 3%;" class="whatsapp-link" (click)="solicitar()">
    <i class="fa fa-whatsapp" ></i> 
  </a>
</div>
</div>
</ng-template>