<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

<header>
  <ul>
    <i class='fa fa-shopping-cart' style="font-size: 110%;">
      <span class='counter'></span>
    </i>
  </ul>
</header>

<section class="content-site" id="gan">
  <div class="container" >
      <div class='row' style="margin-top:-40%;">
        <div class='product--blue'>
          <div class='product_inner'>
            <!-- <img src="../../assets/img/chocolate-derretido.png">   -->
            <img src='../../assets/img/palhaChocolate.png' style="margin-top:100px" width='300'>
            <i style="font-size: x-small;">imagem ilustrativa</i>
            <h3 style="color:rgb(6, 61, 58);">Chocolate</h3>
            <br>
            <h6 class="text-center" style="color:rgb(6, 61, 58);">
              <i>Contém derivados do Leite</i><br>
              <i>Contém Glútem</i>
              </h6>
            <br>
            <label>Quantidade</label>
            <input [(ngModel)]="quantidadepalhaChocolate" type="number" class="quantidade" min="0"/>
          </div>
        </div>
        <div class='product--orange'>
          <div class='product_inner'>
            <img src='../../assets/img/palhaBranca.png' style="margin-top:170px;margin-bottom: 71.7px;" width='250'>
            <i style="font-size: x-small;">imagem ilustrativa</i>
            <h3 style="color:rgb(13, 12, 44);">Ninho</h3>
            <br>
            <h6 class="text-center" style="color:rgb(13, 12, 44);">
              <i>Contém derivados do Leite</i><br>
              <i>Contém Glútem</i>
            </h6>
            <br>
            <label>Quantidade</label>
            <input [(ngModel)]="quantidadepalhaNinho" type="number" class="quantidade" min="0"/>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class='product--yellow'>
          <div class='product_inner'>
            <img src='../../assets/img/conjunto-palhas.png'>
            <br>
            <h4 style="color:rgb(6, 61, 58);">Total</h4>
            <h5 style="color:rgb(6, 61, 58);"><i>Calcule o Preço e peça via Whatsapp <i class="fa fa-whatsapp" ></i></i></h5>
            <button (click)="calcular()" style="background-color:rgb(6, 61, 58);">Calcular</button>
            <div style="margin-top:-40px;margin-right:-300px">
            <label>Total: R$ {{resultado}}</label>
          </div>
            <br>
            <a style="text-decoration:none;" *ngIf="resultado !== '' " class="whatsapp-link" (click)="solicitar()">
              <i class="fa fa-whatsapp" ></i> Solicitar 
            </a>
          </div>
        </div>
      </div>
  </div>
</section>
